@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", sans-serif;;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #3c3c3c;
  text-decoration: inherit;
}
a:hover {
  color: #434343;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 26px;
  border: 1px solid #94969C;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  background-color: rgba(0, 255, 255, 0);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #343434;
  }
  button {
    background-color: #f9f9f9;
  }
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
